include mixin/avatar
header 
	#header-content.clearfix 
		h1#logo 
			a(href="/") SuperSonic
		div#utilities 
			ul
				- if (typeof user !== 'undefined')
					li 
						mixin avatar(user, 32)
						a(href="/user/#{user.username}")#{user.nick}
					li 
						a(href="/settings") 设置
					li
						a(href="/logout") 退出
				- else 
					li
						a(href="/signup") 注册
nav
	dl.tabs.nice
		- if (typeof user !== 'undefined')
			dd
				a(href="/", class=(typeof navLink !== 'undefined' && navLink == 'home')?'active':'')
					span 首页
			dd
				a(href="/user/#{user.username}", class=(typeof navLink !== 'undefined' && navLink == 'user')?'active':'')
					span 个人主页
			//li(class=(typeof navLink !== 'undefined' && navLink == 'explore')?'active':'')
			//	a(href="/explore')
			//			span 发现