#container
	block body
script(src="/javascripts/jquery-1.6.1.min.js")
script(src="/javascripts/underscore-min.js")
script(src="/javascripts/backbone-min.js")
script(src="/javascripts/util.js")
script(src="/javascripts/public.js")
block scripts
