block body
script(src="/javascripts/jquery-1.6.1.min.js")
script(src="/javascripts/underscore-min.js")
script(src="/javascripts/backbone-min.js")
block scripts
	//<script type="text/javascript" src="/javascripts/soundmanager2.js"></script>
	//<script type="text/javascript" src="/javascripts/sound.js"></script>