extends body
block body
	include mixin/page
	include mixin/avatar
	div#user-container
		!=partial('partials/userHeader')
		- if(typeof users != 'undefined' && users.length)
			ul#user-list.clearfix
				each user in users
					li.clearfix 
						a(href="/user/#{user.username}")
							mixin avatar(user) 
						div.nick
							a(href="/user/#{user.username}")
								#{user.nick}
						- if(isSelf && userNav == 'following')
							a.unfollow.button(href="javascript:void(0)", data-id="#{user._id}") 取消关注
			- if (userNav == 'following')
				- if(pageUser.num_following > 10)
					mixin page(pageUser.num_following, uri, page)			
			- else 
				- if(pageUser.num_follower > 10)
					mixin page(pageUser.num_follower, uri, page)
		- else
			p 还没有关注
block scripts
	if(isLoggedIn)
		script(src="/javascripts/spin.min.js")
		script(src="/javascripts/user.js")
