extends body
block body
	div#posts-content
		ul#posts
	!=partial('templates/post')
block scripts
	script(src="/javascripts/spin.min.js")
	script(src="/javascripts/application.js")
	script(type='text/javascript')
		postsJSON = !{JSON.stringify(posts)};
