extends body
block body
	form.verify-form(method='post', action='/login')
		div
			label 用户名:
				input#username(name='user[username]', required)
				span
		div
			label 密码:
				input#password(type='password', name='user[password]', required)
				span
		div
			label(for='remember_me') 下次自动登录:
			input#remember_me(type='checkbox', name='remember_me', checked)
		div
			input(type='submit', value='登录')
			a(href='/signup') 注册

block scripts
	script(type='text/javascript')
