h1= title
p Welcome to #{title}
h2 Login
form(method='post', action='/login')
	div
		label name:
			input(name='user[username]')
	div
		label password:
			input(type='password', name='user[password]')
	div
		label(for='remember_me') Remember me:
		input#remember_me(type='checkbox', name='remember_me')
	div
		input(type='submit', value='Login')
		a(href='/signup') Register