extends body
block body
	#form-container
		p#slog 在这里，你可以分享你身边的声音
		form.verify-form(method='post', action='/login')
			p
				label(for="username") 用户名:
				input#username(name='user[username]', required, type="text")
				span
			p
				label(for="password") 密码:
				input#password(type='password', name='user[password]', required)
				span
			p
				label(for='remember_me') 下次自动登录:
				input#remember_me(type='checkbox', name='remember_me', checked)
			p
				input.button(type='submit', value='登录')
				span.signup 还没有帐号，
					a(href='/signup') 注册

block scripts
	script(type='text/javascript')
