extends body
block body
	#form-container
		h2 用户设置
		form.verify-form(method='post', action='/user', enctype="multipart/form-data")
			p
				label 昵称:
				input#nick(name='nick', type="text", value=user.nick)
				span
			p
				label 头像:
				input(name='avatar', type="file")
			p
				input(type='submit', value='保存', class="button")