extends body
block body
	#form-container
		p#slog 欢迎加入我们，在这里，你可以分享你身边的声音
		form.verify-form(method='post', action='/signup')
			p
				label 用户名:
				input#username(name='user[username]', required, type="text")
				span
			p
				label 邮箱:
				input#email(name='user[email]', required, type="text")
				span
			p
				label 密码:
				input#password(type='password', name='user[password]', required)
				span
			p
				label 确认密码:
				input#confirm(type='password', name='user[confirm_password]', required)
				span
			p
				input.button(type='submit', value='注册')
				span.signup 已有帐号？
					a(href='/') 登录
