extends body
block body
	include mixin/page
	div#user-container
		!=partial('partials/userHeader')

		if(isLoggedIn)
			div#posts-content
				ul#posts
				- if(posts.num_items > 10)
					mixin page(posts.num_items, uri, page)
			!=partial('templates/post')
		else
			p 请先
				a(href="/") 登录
block scripts
	if(isLoggedIn)
		script(src="/javascripts/spin.min.js")
		script(src="/javascripts/jquery.bubblepopup.v2.3.1.min.js")
		script(src="/javascripts/user.js")
		script(src="/javascripts/application.js")
		script(type='text/javascript')
			postsJSON = !{JSON.stringify(posts)};