script#post-item-template(type="text/html")
	div.track-info.clearfix
		<% var avatar = user.avatar?(user.avatar+'?size=48'):'/images/avatar-default-48.png'; print('<a class="avatar" href="/user/' + Util.htmlspecialchars(user.username) + '"><img height="48" width="48" src="' + avatar + '"/></a>'); %>
		div.track-content
			<% print('<p class="track-title">' + Util.htmlspecialchars(user.nick) + ' - ' + Util.htmlspecialchars(text) + '</p>'); %>
			p.track-time
				!=partial('partials/time')
				<% if(isFav) print('<span class="unfav" title="取消收藏">'+ numFav +'</span>'); else print('<span class="fav" title="收藏">'+ numFav +'</span>'); %>
					
				- if (typeof(isSelf) != 'undefined' && isSelf)
					<% print('<a class="post-delete" href="javascript:void(0);">删除</a>'); %>

	div.clearfix.track
		div.track-actions
			span.play
		.audio-full
			.audio
				<% print('<img width="800" height="60" class="waveform" src="/waveform/', id, '" />'); %>
				div.progress &nbsp;
			div.comment-bar &nbsp;
				ul
